* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}

body {
    width: 90%;
    margin: 0 auto;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61PWi2WFV3L._AC_SL1468_.jpg");
}

#content {
    overflow: auto;
}

#nav,
#feature,
#footer {
    margin: 1%;
}

.column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav,
#footer {
    background-color: #DA70D6;
    padding: 0.5em 0;
}

#feature,
.article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
}

.column1 {
    background-color: #FFC0CB;
}

.column2 {
    background-color: #800000;
}

.column3 {
    background-color: #DB7093;
}

#feature {
    background-color: #8CC63E;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4n3nKkPHxPHiQcoJfbBT4bmWX05iZJWnmyg&usqp=CAU");
    background-size: 150px 150px;
    background-position: right;
    background-repeat: no-repeat;
}
